<div class="container">
    <h3>Nagrade</h3>
        <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th scope="col">id</th>
                    <th scope="col">Iznos</th>
                    <th scope="col">Change</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nagrada of allNagrada">
                    <th id={{nagrada.id}} scope="row"
                            style="cursor: pointer;">
                        {{nagrada.id}}
                    </th>
                    <td>{{nagrada.iznos}}</td>
                    <td>
                        <button type="button" class="btn btn-warning"
                                id={{nagrada.id}} (click)="changeNagrada($event)">
                            CHANGE
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger"
                                id={{nagrada.id}} (click)="deleteNagrada($event)">
                            DELETE
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>