<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand mb-0 h1" href="/home">PPFUV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/createPozoriste">Pozoriste</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createFestival">Festival</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createForma">Forma</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createPropDeoFest">Propratni deo festivala</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createSala">Sala</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createPredstava">Predstava</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createUgovor">Ugovor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createOrgOdb">Organizacioni odbor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createNagrada">Nagrada</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/createRadnik">Radnik</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              See table
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/tablePozoriste">Pozoriste</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableFestival">Festival</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableForma">Forma</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tablePropDeoFest">Propratni deo festivala</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableSala">Sala</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tablePredstava">Predstava</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableUgovor">Ugovor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableOrgOdb">Organizacioni odbor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableNagrada">Nagrada</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableRadnik">Radnik</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableIzabrani">Izabrani</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tableGlume">Glume</a>
            </div>
          </li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
