<div class="container">
    <h3>Create ugovor</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group" *ngIf="!change">
            <label for="id">Id</label>
            <div class="input-group mb-3 border border-secondary rounded">
                <input type="number" id="id" #id
                    formControlName="id" class="form-control">
                    <button class="btn btn-primary" type="button" (click)="checkId()">CHECK</button>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="checkerActivated">
                {{checkText}}
            </div>
            <div *ngIf="f.id.touched && f.id.invalid" class="alert alert-danger">
                <div *ngIf="f.id.errors.required">Id is required.</div>
                <div *ngIf="f.id.errors.max">Id must be lower that 10,000.</div>
                <div *ngIf="f.id.errors.min">Id must be higher that 0.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="svota">Svota para</label>
            <div class="input-group mb-3 border border-secondary rounded">
                <input type="number" id="svota" #svota min="1"
                    formControlName="svota" class="form-control" placeholder="svota para">
            </div>
            <div *ngIf="f.svota.touched && f.svota.invalid" class="alert alert-danger">
                <div *ngIf="f.svota.errors.required">Svota para is required.</div>
                <div *ngIf="f.svota.errors.min">Min od svota para is 1.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid" *ngIf="showSubmit">Submit</button>
    </form>
</div>